Cython==0.26
decorator==4.1.1
deprecation==1.0.1
GDAL==2.2.0
joblib==0.11
matplotlib==2.0.2
numexpr==2.6.2
numpy==1.13.1
opencv-python==3.2.0.8
pandas==0.20.3
patsy==0.4.1
processing==0.52
pymorph==0.96
pyparsing==2.2.0
python-dateutil==2.6.1
PyYAML==3.12
retrying==1.3.3
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
statsmodels==0.8.0
subprocess32==3.2.7
tables==3.4.2
xmltodict==0.11.0
